
body{
    background-color: rgb(49, 49, 49);
    color: rgb(240, 248, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 75px;
    border-bottom: 5px solid rgb(0, 0, 255);
    padding-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(37, 37, 37);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 550px;


}
nav ul{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0px;
    min-width: 0px;

}

nav li{
    flex-direction: row;
    list-style: none;
    flex-grow: 1;
    padding-left: 5px;
    padding-right: 5px;
    background-image: url(../img/richB2.png) ;
    background-repeat: repeat-x;
    background-position: center;
    height: 56px;
    min-width: 0px;
    
}

nav li.head {
    background: none;
    flex-grow: 0;
    padding: 0px;
}


nav a {
	line-height: 56px;
    list-style: none;
    border: 0;
    text-decoration: none;
    color: black;
    height: 56px;
    margin: 0;
    font-size: 1.1em
}

nav a:hover{
    color: rgb(255, 255, 255);
}

nav a:active{
    color: rgb(0, 128, 0);
}
/*This is the drop down testing section*/

nav li.dropdown{
  position: relative;
} 

nav ul li div.dropdown-content{
    display: none;
    position: absolute;
    top: 48px;
    left: 0;
    background-color: none;
    min-width: 160px;
    box-shadow: 10px 8px 16px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

nav li .dropdown-content li{
    background-color:rgb(243, 148, 181); 
    background-image: none;
    border: solid black 1px;
}

nav li .dropdown-content a {
    color: rgb(0, 0, 0);
    background-image: none;
}

nav li .dropdown-content a:hover {
    color: rgb(255, 255, 255);
}

nav ul li.dropdown:hover div.dropdown-content {
    display: block;
}

nav ul li.dropdown:hover .dropdownbtn {
    color: rgb(255, 255, 255);
}

nav ul ul{
    flex-direction: column;
}


/* Main Section Under the Nav Bar */
.flex{
    display: flex;
}

/* Section main is every page but index*/
section.main{
    width: 90%;
    margin: auto;
    border: 5px rgba(20, 20, 20, 0.5) solid;
    border-radius: 10px;

}

/* Section updates is only on index*/
section.updates{
    flex-grow: 10;
    min-width: 350px;
    height: 800px;
    border: 5px rgba(20, 20, 20, 0.5) solid;
    border-radius: 10px;
    margin-left: 5px;

}

div.updates{
    width: 95%;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 1em; 
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgba(255, 217, 0, 0.5);
    border-radius: 30px;

}

h2.updates{
    color: rgba(100, 65, 164);
    padding-bottom: 0px;
    margin-bottom: 0px;

}

h5.updates{
    color: rgb(100, 65, 164, .8);
    padding-top: 0px;
    margin-top: 0px;

}

div.updates p{
color: aliceblue;

}

/* Twitter script */

aside{
    flex-grow: 1;
    width: 25%;
    max-width: 700px;
    height: 750px;
    margin-right: 5px;
    min-width: 130px;

}

/* Contact page */

div.error404{
    text-align: center;
}
div.contact{
    margin: 20px;

}
div.contact-text p{
    display: block;
    padding: 15px;
    margin: 5px;
}

div.contact label{
    display: block;
    margin: 5px;
    margin-top: 15px;

}

#contact-name{
    
    width: 90%;
    max-width: 300px;

}

#contact-email{
    width: 90%;
    max-width: 300px;
}

#contact-message{
    width: 90%;
    height: 10em;
    max-width: 500px;;
}

/* Footer */

.pageend{
    position: relative;
    text-align: center;
    color: rgba(240, 248, 255, 0.35);
    font-size: .7em;
    width: 100%;
    height: 100px;
    margin-top: 5px;
    background-color: rgb(37, 37, 37);
    min-width: 550px;

}
.pageend span{
    color: rgba(255, 0, 0, 0.35);
}

.pageend div{
    display: inline-table;
    vertical-align: middle;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 50%;

}

/* add wen they are added back
.topbar{
    height: 58px;
}
.live{
    display: inline;
}
.nef{
    display: inline;
}
.nef img{
    width: 56px;
    height: 56px;
}
 add wen added back in HTML
.richH2{
}
.pig{
}
*/

